/* 共同模块样式 */
.module {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

/* 表格样式 */
.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.custom-table th {
    background-color: #f0f0f0;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modify-button {
    margin-right: 5px;
}